<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'enchère</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.js"></script>

</head>

<body class="ui container ">

    <div th:insert="~{accueil/headers :: body}"></div>

    <h1 th:if="${modificationOuAjout} eq 'ajout'" class="ui center aligned header">Nouvelle vente</h1>
    <h1 th:if="${modificationOuAjout} eq 'modification'" class="ui center aligned header">Modification vente</h1>

    <div class="ui two column stackable grid segment" style="padding: 1rem !important">
        <div class="item six wide column">
            <div th:if="${modificationOuAjout} eq 'ajout'" class="ui card">
                <img id="preview-image" class="ui medium rounded bordered image center aligned" style="display:none;" width="150" height="150" src="https://via.placeholder.com/150">
            </div>
            <div th:if="${modificationOuAjout} eq 'modification'" class="ui card">
                <img id="image-modified" class="ui medium rounded bordered image center aligned" width="150" height="150" th:field="*{article.image}" th:src="@{'/articleImages/' + ${article.image}}" >
            </div>
        </div>
        <div class="ten wide column" >
            <form id="articleForm" class="ui form" th:action="@{/ventes/ajouter} th:object="${article}" method="post">
                <input type="hidden" id="user" th:field="*{no_utilisateur}" required th:value="${currentUser.no_utilisateur}">
                <input type="hidden" id="no_article" th:field="*{no_article}" required th:value="${article.no_article}">
                <div class="row">
                    <label>Article :</label>
                    <input type="text" id="article" th:field="*{nom_article}" placeholder="Nom de l'article" required>
                </div>
                <div class="ui error message">
                    <p th:each="err : ${#fields.errors('nom_article')}" th:text="${err}" class="error"></p>
                </div>
                <div class="row">
                    <label for="description">Description :</label>
                    <textarea id="description" th:field="*{description}" rows="2" cols="20" placeholder="Description détailée" required></textarea>
                </div>
                <div th:if="${#fields.errors('description').isEmpty()}" class="ui error message">
                    <p th:each="err : ${#fields.errors('description')}" th:text="${err}" class="error"></p>
                </div>

                <div class="row" th:if="${modificationOuAjout} eq 'ajout'">
                    <label for="categorie">Catégorie :</label>
                    <select id="categorie" th:field="*{no_categorie}" required>
                        <option value="0">Pas de catégorie sélectionnée</option>
                        <option th:each="categorie : ${categories}"
                                th:text="${categorie.libelle}"
                                th:value="${categorie.no_categorie}" >
                        </option>
                    </select>
                </div>
                <div class="row" th:if="${modificationOuAjout} eq 'modification'">
                    <label for="categorie">Catégorie :</label>
                    <select id="categorie-modified" th:field="*{no_categorie.no_categorie}" required>
                        <option value="0">Pas de catégorie sélectionnée</option>
                        <option th:each="categorie : ${categories}"
                                th:text="${categorie.libelle}"
                                th:value="${categorie.no_categorie}" th:selected="${categorie.no_categorie==article.no_categorie.no_categorie}">
                        </option>
                    </select>
                </div>
                <div class="row">
                    <label>Photo de l'article :</label>
                    <div class="ui file input">
                        <input th:if="${modificationOuAjout} eq 'ajout'" type="file" th:field="*{image}" id="image-upload" accept="image/*" required>
                        <input th:if="${modificationOuAjout} eq 'modification'" type="file" th:field="*{image}" id="image-upload-modified" accept="image/*">
                    </div>
                </div>
                <div class="row">
                    <label for="prix">Prix initial :</label>
                    <input type="number" id="prix" th:field="*{prix_initial}" min="0" step="1" placeholder="Prix initial" required>
                </div>
                <div class="row">
                    <label for="debut">Début d'enchère :</label>
                    <input type="datetime-local" id="debut" name="date_debut_encheres" th:value="${article.date_debut_encheres}" required>
                </div>
                <div class="row">
                    <label for="fin">Fin d'enchère :</label>
                    <input type="datetime-local" id="fin" name="date_fin_encheres" th:value="${article.date_fin_encheres}" required>
                </div>
                <div class="ui segment">
                    <h4 class="ui left header">Adresse</h4>
                    <div>
                        <label for="rue">Rue :</label>
                        <input type="text" id="rue" name="rue" th:value="${article.lieuRetrait.rue}" placeholder="Rue">
                    </div>
                    <div>
                        <label for="code_postal">Code Postal :</label>
                        <input type="text" id="code_postal" name="code_postal" th:value="${article.lieuRetrait.code_postal}" placeholder="Code Postal" required>
                    </div>
                    <div>
                        <label for="ville">Ville :</label>
                        <input type="text" id="ville" name="ville" th:value="${article.lieuRetrait.ville}" placeholder="Ville" required>
                    </div>
                </div>
                <div th:if="${modificationOuAjout} eq 'ajout'" class="row">
                    <button type="submit"  class="ui inverted primary button">Enregistrer</button>
                    <a href="/ventes"  class="ui inverted orange button">Annuler</a>
                </div>
                <div th:if="${modificationOuAjout} eq 'modification'" class="row">
                    <button type="submit"  class="ui inverted primary button">Modifier</button>
                    <a th:href="@{/ventes/delete/{id}(id=${article.no_article})}" class="ui inverted orange button">Annuler la vente</a>
                </div>
            </form>
        </div>
    </div>

</body>

<script>
    document.getElementById("image-upload").addEventListener("change", function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById("preview-image").src = e.target.result;
                document.getElementById("preview-image").style.display='block';
            };
            reader.readAsDataURL(file);
        }
    });
</script>

</html>