<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des articles vendus</title>
</head>
<body>
    <label for="name">Nom :</label>
    <input type="text" id="name" name="name" required minlength="0" maxlength="20" size="10" />

    <label for="categorie-select">Catégorie :</label>
    <select id="categorie-select">
        <option>Choississez une option</option>
        <option>Informatique</option>
        <option>Ameublement</option>
        <option>Vêtement</option>
        <option>Sport&Loisir</option>
    </select>

    <table>
        <thead>
            <tr>
                <th>Nom de l'article</th>
                <th>Description</th>
                <th>Mise à prix</th>
                <th>Fin de l'enchère</th>
                <th>Utilisateur</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</body>
</html>