<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.js"></script>
</head>
<body>
    <header th:fragment="commonHeader">
        <nav>
            <div style="display:inline-block;">
                <h1>ENI-Encheres</h1>
            </div>
            <div style="display:inline-block;float:right; margin-top:10px;">
                <a href="/">Enchères</a>
                - <a href="/ajouter">Vendre un article</a>
                - <a th:href="@{/utilisateur/{id}(id=${currentUser.no_utilisateur})}">Mon profil</a>
                - <a href="/connexion">Déconnexion</a>
            </div>
        </nav>
    </header>
 </body>
</html>