<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connexion</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.js"></script>
</head>
<body class="ui container ">
<div class="ui one column stackable grid segment" style="padding: 1rem !important">
    <div class="four wide column"></div>
    <div class="center aligned">
        <form class="ui five column form left aligned" method="post" th:action="@{/login}">
            <div class="row">
                <label for="username">Identifiant :</label>
                <input type="text" id="username" name="username" placeholder="Votre pseudo" required>
            </div>
            <div class="row">
                <label for="password">Mot de passe :</label>
                <input id="password" name="password" rows="2" cols="20"
                       placeholder="Votre mot de passe" required/>
            </div>
            <div class="row ui two column stackable grid" style="padding-top: 1rem">
                <!--                <div class="ui one column stackable" >-->
                <div class="row">
                    <div class="row ui one column">
                        <button type="submit" class="ui primary button">Se connecter</button>
                    </div>
                </div>
            </div>
            <div class="row ui two column stackable grid" >
                <!--                <div class="ui one column stackable" >-->
                <div class="one column">
                    <a href="/inscription" class="ui violet button">Créer un compte</a>
                </div>
                <div class="one column">
                    <a href="#" class="ui black tertiary button">Mot de passe oublié</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
<!--
RECTIFIER:
Checkbox "Se souvenir de moi",
Lien pour "Mot de passe oublié",

-->