<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport">
    <title>Modification profil</title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.js"></script>

  <style>
    .error{
      color:red;
      font-weight:bold;
      background-color:#ffdada;
      padding:10px;
      border: 1px solid red;
      border-radius:5px;
      margin-bottom: 15px;
    }
  </style>
</head>
<body class="ui container">

  <div th:insert="~{accueil/headers :: body}"></div>
  <div style="margin-top:5%;">
    <form th:action="@{'/utilisateur/modifier'}" method="post">
      <input type="hidden" th:field="${currentUser.no_utilisateur}">
      <h1 style="text-align:center;margin-bottom:5%">Mon profil</h1>
      <div class="container" style="display: inline-block;text-align:right;margin-left:15%;">
        <p><label for="pseudo"> <strong>Pseudo</strong> </label> <input type="text" style="margin-left:50px;" id="pseudo" th:field="${currentUser.pseudo}" th:value="${currentUser.pseudo}"></p>
        <p><label for="prenom"> <strong>Prénom</strong> </label> <input type="text" style="margin-left:50px;" id="prenom" th:field="${currentUser.prenom}" th:value="${currentUser.prenom}"></p>
        <p><label for="tel"> <strong>Téléphone</strong> </label> <input type="text" style="margin-left:50px;" id="tel" th:field="${currentUser.telephone}" th:value="${currentUser.telephone}"></p>
        <p><label for="cp"> <strong>Code postal</strong> </label> <input type="text" style="margin-left:50px;" id="cp" th:field="${currentUser.code_postal}" th:value="${currentUser.code_postal}"></p>
        <p><label for="new-mdp"> <strong>Nouveau mot de passe</strong> </label> <input type="password" style="margin-left:50px;" id="new-mdp" name="new-mot-de-passe"></p>
        <p><strong>Crédit</strong> [[${currentUser.credit}]]</p>
        <button class="ui black button" type="submit">Enregistrer</button>
      </div>

      <div class="container" style="display: inline-block; float:right;margin-right:20%;">
        <div class="container" style="text-align:right;">
          <p><label for="last-name"> <strong>Nom</strong> </label> <input type="text" style="margin-left:50px;" id="last-name" th:field="${currentUser.nom}" th:value="${currentUser.nom}"></p>
          <p><label for="email"> <strong>Email</strong> </label> <input type="text" style="margin-left:50px;" id="email" th:field="${currentUser.email}" th:value="${currentUser.email}"></p>
          <p><label for="rue"> <strong>Rue</strong> </label> <input type="text" style="margin-left:50px;" id="rue" th:field="${currentUser.rue}" th:value="${currentUser.rue}"></p>
          <p><label for="Ville"> <strong>Ville</strong> </label> <input type="text" style="margin-left:50px;" id="ville" th:field="${currentUser.ville}" th:value="${currentUser.ville}"></p>
          <p><label for="new-mdp-confirm"> <strong>Confirmation</strong> </label></strong> <input type="password" style="margin-left:50px;" id="new-mdp-confirm" name="new-mot-de-passe-confirm"></p>
          <div th:if="${erreur}" class="error" th:text="${erreur}"></div>
        </div>
      </div>
    </form>
  </div>

</body>
</html>