<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profil utilisateur</title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.js"></script>
</head>
<body class="ui container">

  <div th:insert="~{accueil/headers :: body}"></div>

  <div style="margin-top:5%;text-align: center;">
    <h3 th:text="${currentUser.pseudo}">Pseudo : [[${currentUser.pseudo}]]</h3>
    <p><strong>Nom</strong> : [[${currentUser.nom}]]</p>
    <p><strong>Prénom</strong> : [[${currentUser.prenom}]]</p>
    <p><strong>Email</strong> : [[${currentUser.email}]]</p>
    <p><strong>Téléphone</strong> : [[${currentUser.telephone}]]</p>
    <p><strong>Rue</strong> : [[${currentUser.rue}]]</p>
    <p><strong>Code postal</strong> : [[${currentUser.code_postal}]]</p>
    <p><strong>Ville</strong> : [[${currentUser.Ville}]]</p>
    <a class="ui primary button" th:href="@{/utilisateur/{id}/modificationProfil(id=${currentUser.no_utilisateur})}">Modifier</a>
  </div>

</body>
</html>